<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
</head>

<body>
	<h1>ログイン</h1>
	<th:block th:object="${user}">
		<p th:errors="*{loginId}"></p>
		<p th:errors="*{pass}"></p>
		<!--グローバルエラー表示-->
		<th:block th:if="${#fields.hasGlobalErrors()}">
			<p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
		</th:block>
	</th:block>
	
	<form action="" method="post" th:object="${user}">
		<p>ログインID:<input type="text" th:field="*{loginId}"></p>
		<p>パスワード:<input type="text" th:field="*{pass}"></p>
		<p><input type="submit" value="ログイン"></p>
	</form>
</body>

</html>